.card {
  border: none;
  box-shadow: none;
  margin-bottom: 1.25rem;
  margin-right: 1.0rem;
  .card-deck {
    justify-content: center;
    align-items: center;
    .card {
      border-radius: 3px;
      box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.4);
      .card-header {
        color: $white;
        min-height: 7rem;
      }
      margin: 1rem;
      .card-body {
        padding: 1rem;
        min-height: 10rem;
      }
    }
    &:nth-child(n+2) {
      margin-top: 1.25rem;
    }
  }

  >.card-body {
    //padding: 1rem 0 0 0;
  }
}
.card.card-primary {
  >.card-header {
    padding-left: 0;
    background: $white;
    border-bottom: solid 1px;
  }
  .card-body {
    .card-nav {
      position: absolute;
      float: left;
      bottom: 0.5rem;
      left: 1rem;
      border: 0;
      background: none;
    }
  }
}

.card {
  .card-deck {
    .card {
      @include media-breakpoint-only(xs) {
        width: 100%;
      }
      @include media-breakpoint-only(sm) {
        width: 100%;
      }
      @include media-breakpoint-only(md) {
        width: 100%;
      }
      @include media-breakpoint-only(lg) {
        width: 100%;
      }
      @include media-breakpoint-only(xl) {
        &.card-body {
          min-height: 11rem !important;
        }
      }
    }
  }
}