@mixin timetable-circle {
    height: 3rem;
    width: 3rem;
    border-radius: 50%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.2rem;
    @include media-breakpoint-only(xs) {
        height: 2.3rem;
        width: 2.3rem;
        margin-top: 0.5rem;
    }
}