//usyd styled navbar
.navbar-usyd {
    .navbar-header {
      padding-left: 0px;
    }
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    .navbar-brand {
      color: $navbar-light-active-color;
      img {
        max-height: 50px;
      }
  
      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  
    .navbar-nav {
      min-height: 68px;
      .nav-link {
        margin-top: calc(-0.6rem + 3px);
        color: $navbar-light-color;
        font-size: 1.25rem;
  
        @include hover-focus {
          color: $black;
          border-top: solid $usyd-red;
          margin-top: -0.6rem;
        }
  
        &.disabled {
          color: $navbar-light-disabled-color;
        }
        @include media-breakpoint-down(md) {
          border-top: none !important;
          margin-top: 0.6rem !important;
        }
      }
  
      .show > .nav-link,
      .active > .nav-link,
      .nav-link.show,
      .nav-link.active {
        color: $black;
        border-top: solid $usyd-red;
        margin-top: -0.6rem;
      }
    }
  
    .navbar-toggler {
      color: $navbar-light-color;
      border-color: $navbar-light-toggler-border-color;
    }
  
    .navbar-toggler-icon {
      background-image: $navbar-light-toggler-icon-bg;
    }
  
    .navbar-text {
      color: $navbar-light-color;
      a {
        color: $navbar-light-active-color;
  
        @include hover-focus {
          color: $navbar-light-active-color;
        }
      }
    }
  }