
@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_pro.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_pro.eot?#iefix) format("embedded-opentype"), url(../font/apercu/apercu_regular_pro.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_pro.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_pro.svg#apercu_regular_pro) format("svg");
    font-style: normal;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_italic_pro.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_italic_pro.eot?#iefix) format("embedded-opentype"), url(../font/apercu/apercu_regular_italic_pro.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_italic_pro.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_regular_italic_pro.svg#Apercu-Italic-Web) format("svg");
    font-style: italic;
    font-weight: 400;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_pro.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_pro.eot?#iefix) format("embedded-opentype"), url(../font/apercu/apercu_bold_pro.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_pro.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_pro.svg#Apercu-Bold-Web) format("svg");
    font-style: normal;
    font-weight: 700;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_italic_pro.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_italic_pro.eot?#iefix) format("embedded-opentype"), url(../font/apercu/apercu_bold_italic_pro.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_italic_pro.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_bold_italic_pro.svg#Apercu-BoldItalic-Web) format("svg");
    font-style: italic;
    font-weight: 700;
    text-rendering: optimizeLegibility
}

@font-face {    font-family: Apercu;    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_pro.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_pro.eot?#iefix) format("embedded-opentype"), url(../font/apercu/apercu_light_pro.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_pro.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_pro.svg#Apercu-Light-Web) format("svg");
    font-style: normal;
    font-weight: 100;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_italic_pro.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_italic_pro.eot?#iefix) format("embedded-opentype"), url(../font/apercu/apercu_light_italic_pro.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_italic_pro.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/apercu_light_italic_pro.svg#Apercu-LightItalic-Web) format("svg");
    font-style: italic;
    font-weight: 100;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-Medium-Web.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-Medium-Web.eot?#iefix) format("embedded-opentype"), url(../font/apercu/Apercu-Medium-Web.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-Medium-Web.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-Medium-Web.svg#Apercu-Medium-Web) format("svg");
    font-style: normal;
    font-weight: 300;
    text-rendering: optimizeLegibility
}

@font-face {
    font-family: Apercu;
    src: url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-MediumItalic-Web.eot);
    src: url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-MediumItalic-Web.eot?#iefix) format("embedded-opentype"), url(../font/apercu/Apercu-MediumItalic-Web.woff) format("woff"), url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-MediumItalic-Web.ttf) format("truetype"), url(../node_modules/corporate-frontend/dist/font/apercu/Apercu-MediumItalic-Web.svg#Apercu-MediumItalic-Web) format("svg");
    font-style: italic;
    font-weight: 300;
    text-rendering: optimizeLegibility
}

body {
    font-family: Apercu, Helvetica, sans-serif !important;
    font-weight: 300;
  }