#timetable-cal {
    padding-top: 1rem;
    #months-tab,
    #year-tab {
        font-size: $h4-font-size;
        text-align-last: center;
        text-align: center;
        -ms-text-align-last: center;
        -moz-text-align-last: center;
    }
    .fc-center h2 {
        font-size: $h3-font-size;
    }
    .fc-widget-header {
        background-color: $white !important;
        color: $dark;
    }
    .fc-event {
        display: none;
    }
    .fc-content-skeleton {
        tr:nth-child(n+2) {
            margin: 0px;
        }
    }
    .fc-day-top {
        padding-top: 1rem;
        text-align: center;
        .fc-day-number {
            float: none;
        }
    }

    th,
    td {
        border: none;
        &.fc-today {
            border: none;
        }
    }
    .fc-today {
        background: none;
        .fc-circle {
            background: #fcf8e3;
            @include timetable-circle();
        }
    }
    .fc-selected {
        @include timetable-circle();
        border: solid 1px;
    }

    
    .fc-prev-button,
    .fc-next-button {
        border: none;
        background: none;
        box-shadow: none;
    }
}

#timetable {
    padding-bottom: 1.25rem;
    .fc-list-empty {
        background-color: $light;
    }
    .fc-event-dot {
        display: none;
    }
    .fc-widget-header {
        background-color: $dark !important;
        color: $white;
    }
}